{% extends 'base.html.twig' %}

{% block title %}Modification du MDP {% endblock %}

{% block body %}
    <div class="container clearfix">
        <h2 class="my-5">Modification du Mot de passe de l'utilisateur</h2>
        {{form_start(form)}}
        {{form_widget(form)}}

        <button type="submit" class="btn btn-primary float-right">
            <i class="fas fa-check"></i>
            Sauvegarder
        </button>
        {{form_end(form)}}

    </div>

{% endblock %}
