{% extends 'base.html.twig' %}

{% block title %}Modification du MDP {% endblock %}

{% block body %}
<div class="container">
    <h2>Modification du Mot de passe de l'utilisateur</h2>
    {{form_start(form)}}
    {{form_widget(form)}}

    <button type="submit" class="btn btn-primary">Valider</button>
    {{form_end(form)}}

</div>

{% endblock %}
