{% extends 'base.html.twig' %}

{% block title %}
    Accès interdit !
{% endblock %}  


{% block body %}
    <div class="container">
        <h1 class="alert alert-danger mb-3">
            Oups ! Vous n'avez pas le droit d'acceder à cette ressource ! <br><br>
        </h1>
        
        <a href="{{path('homepage')}}" class="btn btn-primary">Retour à Accueil</a>
    
    </div>

{% endblock %}  